<%- include("../partials/adminpartials/header.ejs") %>
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Categories</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
          <li class="breadcrumb-item">Categories</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->


<section class="section">
    <div class="row">
      <div class="col-lg-12">
        <button type="button" class="btn btn-info" style="margin-left: 80%;margin-bottom: 5%;"><a href="/admin/addCategory" style="color:black">add Category</a></button>
        <div class="card">
            
          <div class="card-body">
            
           
            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
               
                 <% if(categoryData.length>0) {
                  for(let i=0;i<categoryData.length;i++){ %>
                    <tr>
                    <td><%= i+1 %></td>
                    <td><%= categoryData[i].categoryName %></td>
                    <td><%= categoryData[i].description %></td>
                    <% const status = categoryData[i].is_valid == 1? "available" :"not available" %>
                    <td><%= status %></td>
                    <td>
                      <button type="button" class="btn btn-info"><a href="/admin/edit_category?id=<%=categoryData[i]._id%>" style="color:black">Edit</a> </button>
                      <button type="button" class="btn btn-info"><a href="/admin/delete_category?id=<%=categoryData[i]._id%>" style="color:black">Delete</a> </button>
                    </td>
                  </tr>
                  <%}
                 }%>
              </tbody>
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>
        <div class="pagination">
          <% 
            const pagesPerGroup = 4; // Number of pages per group
            const currentPageGroup = Math.ceil(currentPage / pagesPerGroup); // Current page group
            const startPage = (currentPageGroup - 1) * pagesPerGroup + 1; // Starting page of the current group
            const endPage = Math.min(totalPages, currentPageGroup * pagesPerGroup); // Ending page of the current group
            const previousGroupPage = startPage - 1; // The page before the current group
            const nextGroupPage = endPage + 1; // The first page of the next group
          %>
          <% if (previousGroupPage > 0) { %>
            <a href="?page=<%=previousGroupPage%>" ><button type="button" class="btn btn-light">Previous</button></a>
          <% } %>

          <% for(let i =startPage; i <= endPage; i++) { %>
            <a href="?page=<%= i %>" <%= i === currentPage ? 'class="active"' : '' %>><button type="button" class="btn btn-light"><%= i %></button></a>
          <% } %>

          <% if (nextGroupPage <= totalPages) { %>
            <a href="?page=<%= nextGroupPage %>"><button type="button" class="btn btn-light">Next</button></a>
          <% } %>
        </div>
      </div>
    </div>
  </section>
  <style>
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  color: #fcfcfc;
  padding: 8px 12px;
  text-decoration: none;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #f5f5f5;
  color: #fff;
  border-color: #ffffff;
}
</style>

 

<% - include("../partials/adminpartials/footer.ejs") %>