<%- include("../partials/adminpartials/header.ejs") %>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1> Product Details</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Product</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">Product Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Name</div>
                    <div class="col-lg-9 col-md-8"><%= product.Name %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Description</div>
                    <div class="col-lg-9 col-md-8"><%= product.description %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Price</div>
                    <div class="col-lg-9 col-md-8"><%= product.price%></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Category</div>
                    <div class="col-lg-9 col-md-8"><%= categoryName.categoryName%></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Quantity</div>
                    <div class="col-lg-9 col-md-8"><%= product.productQuantity%></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Image</div>
                    <div class="col-lg-9 col-md-8"><img src="/public/uploads/<%=product.images[0] %>" width="60px"></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Status</div>
                    <div class="col-lg-9 col-md-8"><%=product.status%></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Rating</div>
                    <div class="col-lg-9 col-md-8"><%= product.rating%></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Created at</div>
                    <div class="col-lg-9 col-md-8"><%= product.createdAt %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Updated at</div>
                    <div class="col-lg-9 col-md-8"><%= product.updatedAt %></div>
                  </div>
                 

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  
 
<%- include("../partials/adminpartials/footer.ejs") %>