<%- include("../partials/adminpartials/header.ejs") %>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Name</div>
                    <div class="col-lg-9 col-md-8"><%= user.name %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">E mail</div>
                    <div class="col-lg-9 col-md-8"><%= user.email %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Mobile</div>
                    <div class="col-lg-9 col-md-8"><%= user.mobile%></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Status</div>
                    <div class="col-lg-9 col-md-8"><%=user.isVerified%></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Active</div>
                    <div class="col-lg-9 col-md-8"><%= user.isActive%></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Created at</div>
                    <div class="col-lg-9 col-md-8"><%= user.createdAt %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Updated at</div>
                    <div class="col-lg-9 col-md-8"><%= user.updatedAt %></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Address</div>
                    <div class="col-lg-9 col-md-8"></div>
                  </div>

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  
 
<%- include("../partials/adminpartials/footer.ejs") %>