<%- include("../partials/adminpartials/header.ejs") %>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1> Offer Details</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Product Offer</li>
          <li class="breadcrumb-item active">Details</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">Product Offer Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Name</div>
                    <div class="col-lg-9 col-md-8"><%= productOffer.name %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Product </div>
                    <div class="col-lg-9 col-md-8"><%= productOffer.product.Name %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Valid from</div>
                    <div class="col-lg-9 col-md-8"><%= productOffer.startDate.toLocaleString()%></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Expiry date</div>
                    <div class="col-lg-9 col-md-8"><%= productOffer.endDate.toLocaleDateString() %></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Discount Percentage</div>
                    <div class="col-lg-9 col-md-8"><%= productOffer.discountPercentage %></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Status</div>
                    <div class="col-lg-9 col-md-8"><%=productOffer.status%></div>
                  </div>

                  
                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  
 
<%- include("../partials/adminpartials/footer.ejs") %>