<%- include('../partials/userPartials/header.ejs') %>
<nav id="sidebar" class="sidebar-profile col-md-2">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
          <span><strong>Hello, <%= user.name %></strong>
          </span>
        </a>
      </li><!-- End Dashboard Nav -->

      

      <li class="nav-item">
        <a class="nav-link collapsed" href="/users/user_profile">
          <span><strong>Profile</strong> </span>
        </a>
      </li><!-- End users Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/users/manage_address">
          <span><strong>Manage Address</strong> </span>
        </a>
      </li><!-- End products Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/users/orders">
          <span><strong>Orders</strong></span>
        </a>
      </li><!-- End Category Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/users/wallet">
          <span><strong>Wallet</strong></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/users/change_password">
          <span><strong>Change Password</strong></span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/users/logout">
          <span><strong>Logout</strong></span>
        </a>
      </li><!-- End Login Page Nav -->
    </ul>

</nav><!-- End Sidebar-->
<main class="col-md-10 main-content">
    <div class="section-profile">

        <div class="profile-data">
            <h5 class="card-title profile-title">Password Settings</h5>
               <div class="container">
                <% if(typeof message !== "undefined"){ %>
                    <p class="text-danger"> <%=message %> </p>
                <%}%>
                    <form action="/users/change_password?id=<%=user._id%>" method="post" onsubmit="return validatePassword()">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 " >
                                <label for="currentPassword"><strong>Current Password</strong></label></div>
                                    <div class="col-lg-6 col-md-6">
                                        <input type="text" name="currentPassword" id="Current-Password" class="form-control">
                                    </div>
                        </div>     
                        <div class="row">
                            <div class="col-lg-3 col-md-4 " >
                                <label for="newPassword"><strong>New Password</strong></label></div>
                                    <div class="col-lg-6 col-md-6">
                                        <input type="text" name="newPassword" id="New-Password" class="form-control">
                                    </div>
                        </div> 
                        <div class="row">
                            <button type="submit" class="btn btn-secondary" style="width: fit-content;margin: auto;">Apply Changes</button> 
                        </div>  
                              
                    </form>
                </div>
               </div>
  

    <script>
        function validatePassword(){
            var newPassword = document.getElementById("New-Password");
            var isValid = true;
            if(newPassword.value.trim()===""){
                highlightField(newPassword);
                newPassword.placeholder = "Password is emptty";
                isValid=false;
            }else if(newPassword.value.length<7){
                highlightField(newPassword);
                newPassword.placeholder="Password should have minimum 6 characters";
                isValid=false;
            }else{
                removeHighlight(newPassword);
                newPassword.placeholder="";
            }
            return isValid;
        }
        function highlightField(field) {
        field.style.borderColor = "red";
        field.focus();
    }
  
    function removeHighlight(field) {
        field.style.borderColor = "";
    }
        
    </script>
<%- include('../partials/userPartials/footer2.ejs') %>
