<%- include('../partials/userPartials/header.ejs') %>
<nav id="sidebar" class="sidebar-profile col-md-2">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
          <span><strong>Hello, <%= user.name %></strong>
          </span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/user_profile">
          <i class="bi bi-person"></i>
          <span><strong>Profile</strong> </span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/manage_address">
          <i class="bi bi-question-circle"></i>
          <span><strong>Manage Address</strong> </span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/orders">
          <span><strong>Orders</strong></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/wallet">
          <span><strong>Wallet</strong></span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/change_password">
          <span><strong>Change Password</strong></span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/logout">
          <i class="bi bi-box-arrow-in-right"></i>
          <span><strong>Logout</strong></span>
        </a>
      </li>
    </ul>

</nav><!-- End Sidebar-->
<main class="col-md-10 main-content">
    <div class="section-profile">

        <div class="profile-data">
            <h5 class="card-title profile-title">Profile Details</h5>
                <div class="row profile-values">
                    <div class="col-lg-3 col-md-4 label " ><strong>Name</strong></div>
                    <div class="col-lg-9 col-md-8 "><%= user.name %></div>
                </div>
  
                <div class="row">
                    <div class="col-lg-3 col-md-4 label"><strong>e-mail</strong> </div>
                    <div class="col-lg-9 col-md-8"><%= user.email %></div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 label"><strong>Mobile</strong></div>
                    <div class="col-lg-9 col-md-8"><%= user.mobile%></div>
                </div>
            <a href="/edit_profile?id=<%= user._id%>">Edit Profile</a>
        </div>
    </div>
</main>





<%- include('../partials/userPartials/footer2.ejs') %>

